/* Don't change the existing CSS. */

.box {
  background-color: blue;
  padding: 10px;
}

p {
  color: yellow;
  margin: 0;
  padding: 0;
}
#outer-box {
  background-color: rgb(134, 37, 186);
  padding: 20px;
}
.box p{
  color: yellow;
}
.inner-box p{
  background-color: rgb(255, 0, 0);
  color: white;
}